@import "tailwindcss";
@import "./theme.scss";

@config "../tailwind.config.js";

body {
  font-family: var(--font-switzer);
}

h1, h2, h3, h4 {
  font-family: var(--font-playfair);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}